@model IEnumerable<InventoryManagementEntity.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}


<div class="br-pagetitle pd-0">
    <table class="pd-0">
        <tr>

            <td>
                <h4>Customer</h4>
            </td>
        </tr>
    </table>



</div>

<div class="br-section-wrapper">
    @Html.ActionLink("Add New Customer", "AddCustomer", "Company", new { @class = "btn btn-success btn-block mg-b-10 tx-sm-bold" })
    <h6 class="br-section-label">Customer DataTable</h6>
    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
            <thead>
                <tr role="row">
                    <th class="wd-15p sorting_asc" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 112px;" aria-sort="ascending" aria-label="First name: activate to sort column descending">CompanyName</th>
                    <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 113px;" aria-label="Last name: activate to sort column ascending">Name</th>
                    <th class="wd-20p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 175px;" aria-label="Position: activate to sort column ascending">Surname</th>
                    <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 114px;" aria-label="Start date: activate to sort column ascending">Taxnumber</th>
                    <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 114px;" aria-label="Start date: activate to sort column ascending">Edit</th>
                    <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 114px;" aria-label="Start date: activate to sort column ascending">Detail</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr role="row" class="odd">
                        <td class="sorting_1" tabindex="0">@customer.CompanyName</td>
                        <td>@customer.Name</td>
                        <td>@customer.Surname</td>
                        <td>@customer.Taxnumber</td>

                        <td>@Html.ActionLink("Edit", "#", "Company", new { customer.Id }, new { @class = "btn" })</td>
                        <td>@Html.ActionLink("Detail", "DetailCustomer", "Company", new { customer.Id }, new { @class = "btn btn-teal" })</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div><!-- table-wrapper -->
<script>


    $('#datatable1').DataTable({
        responsive: true,
        language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
        }
    });
</script>