@model InventoryManagementEntity.Product
    @{
        ViewBag.Title = "DetailProduct";
        Layout = "~/Views/Shared/_CompanyLayout.cshtml";
    }

<div class="br-pagebody">

    <div class="card bd-gray-400">
        <div class="card-body pd-30 pd-md-60">
            <div class="d-md-flex justify-content-between flex-row-reverse">
                <h1 class="mg-b-0 tx-uppercase tx-gray-400 tx-mont tx-bold"><img src="~/Content/ProductImg/@Model.ProductImages.Where(s=> s.ProductId == Model.Id).FirstOrDefault().ImgFolder" width="250" height="250"/></h1>
                <div class="mg-t-25 mg-md-t-0">
                    <h6 class="tx-primary">@Model.ProductName</h6>
                    <p class="lh-7">
                        Product Code:  @Model.ProductCode<br>
                        Barcode Code:  @Model.BarcodeCode<br>
                        Barcode Code2: @Model.BarcodeCode2
                    </p>
                </div>
            </div><!-- d-flex -->

            <div class="row mg-t-20">
  
                <div class="col-md">
                    <label class="tx-uppercase tx-13 tx-bold mg-b-20">Product Information</label>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>Pieces:</span>
                        <span>@Model.Pieces</span>
                    </p>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>MinPieces:</span>
                        <span>@Model.MinPieces</span>
                    </p>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>MaxPieces:</span>
                        <span>@Model.MaxPieces</span>
                    </p>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>ShelfNumber:</span>
                        <span>@Model.ShelfNumber</span>
                    </p>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>InsertionDate:</span>
                        <span>@Model.InsertionDate.ToLongDateString()</span>
                    </p>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>TotalProductValue:</span>
                        <span>@Model.TotalProductValue</span>
                    </p>
                    <p class="d-flex justify-content-between mg-b-5">
                        <span>Store:</span>
                        <span>@Model.Store.Name</span>
                    </p>
                </div><!-- col -->
            </div><!-- row -->

            <div class="table-responsive mg-t-40">
                <table class="table">
                 
                    <tbody>
                       
                        <tr>
                            <td colspan="2" rowspan="4" class="valign-middle">
                                <div class="mg-r-20">
                                    <label class="tx-uppercase tx-13 tx-bold mg-b-10">Content:</label>
                                    <p class="tx-13">@Model.Content </p>
                                </div>
                            </td>
                            <td class="tx-right">Price</td>
                            <td colspan="2" class="tx-right">@Model.Price</td>
                        </tr>
                        <tr>
                            <td class="tx-right">TaxRate</td>
                            <td colspan="2" class="tx-right">@Model.TaxRate</td>
                        </tr>
                      
                        <tr>
                            <td class="tx-right tx-uppercase tx-medium tx-white">Total Due</td>
                            <td colspan="2" class="tx-right"><h4 class="tx-primary tx-bold tx-lato">@Model.Total</h4></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->

       
    </div><!-- card -->

</div>
